@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.x-default-color {
  @apply /* 백그라운드 */
        bg-white dark:bg-neutral-800
        /* 텍스트 */
        text-neutral-800 dark:text-neutral-300;
}
.x-layer-color {
  @apply /* 백그라운드 */
        bg-white dark:bg-neutral-900
        /* 텍스트 */
        text-neutral-800 dark:text-neutral-300 
        /* 보더 */
        border-neutral-700 
        [&_*]:border-neutral-700
        /* 호버이벤트 */
        [&_li:hover]:bg-neutral-100
        [&_li:hover]:dark:bg-neutral-700
        [&_a:hover]:bg-neutral-100
        [&_a:hover]:dark:bg-neutral-700;
}

/* 숫자 입력에서 스피너 제거 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
}
